.jumbotron {
    background-image: url("../images/hero.jpg");
    size: 100% auto;
    height: 100vh;
    background-size: auto auto;
}
.display-4 {
    font-size: 84px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.lead {
    font-size: 67px;
    font-family: 'Open Sans', sans-serif;
}
.intro {
    font-size: 29px;
    font-family: 'Open Sans', sans-serif;
}
.btn {
    background-color: #0B4451;
    display: flex;
    width: 438px;
    height: 89px;
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    font-weight: 700;
    text-align: center;
    border: none;
    justify-content: center;
}
h3 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    text-align: center;
}
.btn-shop {
    background-color: #0B4451;
    display: flex;
    width: 306px;
    height: 69px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    border: none;
    color: #ffffff;
}
.btn-shop:hover {
    color: white;
    text-decoration: none;
}
.card {
    display: flex;
    margin: 30px;
    width: 552px;
    height: 420px;
    flex-wrap: wrap;
    justify-content: space-between;
}